/* hero section start  */
.typing {
  width: fit-content;
}

.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 80%;
  color: black;
  background: #fff;
  animation: typing 8s steps(18) infinite;
}

@keyframes typing {
  from {
    width: 18ch;
  }

  to {
    width: 0ch;
  }
}

.banner-img {
  border-radius: 50% 50% 0% 50%;
  border: 15px solid #292929 !important;
  position: relative;
  z-index: 99;
  overflow: hidden;
}

.banner::before {
  content: '';
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -40px;
  right: 0;
  bottom: 0;
  animation: spin 50s infinite;
}

@keyframes spin {
  form {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.banner::after {
  content: '';
  background: #fff;
  border: 16px solid #ea4020;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 200vw;
  border-radius: 350px;
}

/* hero section end */


/* about-us section start */
.testimonials .carousel-indicators [data-bs-target]
{
  background-color: #ea4020;
  width: 12px;
  height: 12px;
  transform: translate(0,50px);
}
/* about-us section end*/

/* topBtn */
#btnTop .btn{
  color: #ea4020;
}

#btnTop .btn{
  border: 1px solid #ea4020;
}

#btnTop .btn:hover{
  background-color: #ea4020;
  color: #fff;
}